*,
*::before,
*::after {
    box-sizing: border-box;
    /* outline: 1px solid; */
}

img {
    max-width: 100%;
    /*避免圖片跑出範圍*/
}

body {
    font-family: "Roboto", "Noto Sans TC", sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}